{% extends 'layouts/app.twig' %}

{% block content %}
    <style>

    </style>

    <div class="rtable rtable-2col">

        <div style="order:1;" class="rtable-cell"><h3>Eddard Stark</h3></div>
        <div style="order:2;" class="rtable-cell">Has a sword named Ice</div>
        <div style="order:3;" class="rtable-cell">No direwolf</div>
        <div style="order:4;" class="rtable-cell"><strong>Lord of Winterfell</strong>Working with us is a great opportunity for a multilingual talents. You are free to decide when, where and how much you work.
            SIGN UP
        </div>

        <div style="order:1;" class="rtable-cell"><h3>Jon Snow</h3>Working with us is a great opportunity for a multilingual talents. You are free to decide when, where and how much you work.
            SIGN UP
        </div>
        <div style="order:2;" class="rtable-cell">Has a sword named Longclaw</div>
        <div style="order:3;" class="rtable-cell">Direwolf: Ghost</div>
        <div style="order:4;" class="rtable-cell"><strong>Knows nothing</strong></div>

        <div style="order:1;" class="rtable-cell"><h3>Arya Stark</h3></div>
        <div style="order:2;" class="rtable-cell">Has a sword named Needle</div>
        <div style="order:3;" class="rtable-cell">Direwolf: Nymeria</div>
        <div style="order:4;" class="rtable-cell"><strong>No one</strong></div>

    </div>


{% endblock %}