{% extends 'layouts/app.twig' %}

{% block content %}
    <h1>Align TMX</h1>

    <div class="toolbox">
        <ul>
            <li><a href="#" id="btn-merge">Merge cells</a></li>
            <li><a href="#" id="btn-split">Split cells</a></li>
            <li><a href="#" id="btn-delete">Delete cells</a></li>
        </ul>
    </div>


    {% if file %}
        <div class="col-md-12 text-center">
            <hr><a href="/tmx/download/{{ file }}" class="btn btn-success btn-sm"><i class="fa fa-download"></i> Download: {{ file }}.tmx</a>
        </div>
    {% endif %}

    <table class="table table-condensed table-bordered" id="tbl-align">
        <colgroup>
            <col>
            <col>
        </colgroup>
    {% for x in tmx %}
        <tr>
            <td class="col-md-6">{{ x.tuv.0.seg }}</td>
            <td class="col-md-6">{{ x.tuv.1.seg }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}